<!doctype html>
<html class="no-js" lang="pt_br" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="Nataliel Vasconcelos" />
    <meta content="Problem One: Coin Determiner"/>
    <title>Problem One: Coin Determiner</title>

    <!-- block css -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/icons.css" />

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/foundation.min.css" />
</head>

<body>
    <!-- base -->
    <div>
    {% block content %}{% endblock %}
    </div>
    <!-- end base -->
</body>

</html>
